cloud {
    imageId = 'ami-042493d58a070efe3'
    instanceType = 'c5n.2xlarge'
    bootStorageSize = '180 GB'
    securityGroup = 'sg-07b4b3c550c494471'
    userName = 'ec2-user'
    sharedStorageId = 'fs-d064a4a8'
    sharedStorageMount = '/mnt/efs'
    autoscale {
        enabled = true
        minInstances = 1
        maxInstances = 5
    }
}
docker.enabled = true
process.container = 'sandmansdownfall/ccs3:latest'
aws.region = 'us-east-2'
