cloud {
    imageId = 'ami-0bdbbf64262c2d190'
    instanceType = 'c4.8xlarge'
    bootStorageSize = '8 GB'
    securityGroup = 'sg-9d7475ff'
    userName = 'ec2-user'
    sharedStorageId = 'fs-d064a4a8'
    sharedStorageMount = '/mnt/efs'
    autoscale {
        enabled = true
        minInstances = 1
        maxInstances = 5
	terminateWhenIdle = true
    }
}
docker.enabled = true
process.container = 'sandmansdownfall/ccs3:latest'
aws.region = 'us-east-2'
